<section>
	<form name="loginform" ng-submit="login.submitLogin()">
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">Login Form</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Email-Id :</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-6">
								<input name="email" type="email" class="form-control"  ng-model="login.data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required >
								<div class="valid" ng-show="loginform.email.$touched && loginform.email.$invalid" style="color:red">
								Please enter a valid email address.</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Password :</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-6">
								<input name="pwd" type="password" class="form-control"  ng-model="login.data.password" required>
								<div class="valid" ng-show="loginform.pwd.$touched && loginform.pwd.$invalid" style="color:red">Enter the password.</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<input type="submit" value="Login" class="btn btn-basic" ng-disabled="loginform.$invalid">
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<input type="reset" class="btn btn-basic" value="Reset">
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a ui-sref="register">New User?</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a ui-sref="forgot-password">Forgot Password?</a>
							</div>
						</div>
						
						<div class="row">
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</form>
</section>